html {
    background: linear-gradient(to left,  #FF502B, #FCD217);
    font-family: 'Georama', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    color: white;
}

body > div {
    width: 500px;
    height: auto;
    margin: 10vh auto 0 auto;
    background: #FC2F17;
    border: black inset 5px ;
}


.display-field {
    background-color: black;
    width: auto;
    height: 130px;
    text-align: right;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 40px;
}

.button-field {
    display: grid;
    background: #F3D460;
    border-bottom: 1px solid black;
    border-left: 1px solid black 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button-field > div {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.number-field {
    float: left;
    width: 377px;
    height: 560px;
    background: linear-gradient(to bottom, #FF502B, #FCD217) 
}

.buttons {
    border: 0.5px solid black;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.buttons:hover {
    background: #FC2F17;
    color: white;
    transition: 0.3s ease-in-out;
}

#equal {
    background: coral;
}